.registerformcontainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px !important;
    padding: 20px !important;

}
.registerform{
    width: 600px;
    margin-top: 50%;
    border-radius: 20px;
    background-color: #B9E5E8;
    box-shadow: 0 0 40px 0 black;
    backdrop-filter:10px;
    text-align: center;
    padding: 20px !important;
}
.registerform input{
    font-size: 20px;
    padding: 7px  5px !important;
    width: 95%;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 10px !important;
    background-color:#4A628A;
    color: cyan;
}
input:focus{
    outline: none;
}
.loginspan{
    color: #4A628A;
}
::placeholder{
    color: cyan;
}
.button{
    padding: 10px !important;
}

.register{
    font-size: 30px !important;
    background: linear-gradient(to right,blue,rgb(255, 4, 238));
    background-clip: text;
    color: transparent;
}